/*Paleta de cores do site*/

.vermelho-principal{
  background-color: #dd1f46;
}
.vermelho-secundario{
  background-color: #b81639;
}
.preto-principal{
  background-color: #212121;
}
.preto-secundario{
  background-color: #606a70;
}

/*RESETS*/

body{
  background-color: #1e1e22;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html#facebook {
  min-width: 100%!important;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.wrapper{
  margin-top: 20px;
}

/* PARA VÃDEOS RESPONSIVOS NO WP */

.video-container { 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; 
}

.video-container iframe,
.video-container object,
.video-container embed, 
.video-container video { 
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  padding-bottom: 1.6rem;
}

/*FOOTER*/

.copy-left p{
  margin: 0;
  color: #888;
}

.comentarios{
  background-color: #fff;
  padding: 10px;
}

.cred-logo svg{
  width: 150px;
}

.cred-logo{
  float: right;
}
@media (max-width: 768px) {
  .cred-logo{
    float: none;
    margin-top: 20px;
  }

  .copy-left{
    text-align: center;
  }

  aside{
    display: none;
  }
}

.cred-logo p{
  font-size: 12px;
  padding-bottom: 5px;
  margin: 0;
  color: #888;
}

.footer-2 a{
  color: #dd1f46;
  font-weight: bold;
}

.footer-2{
  padding: 10px 0;
}

aside li{
  list-style-type: none;
}

aside ul{
  margin: 0;
  padding: 0;
}

aside a{
  text-decoration: none;
  color: #f8f8f8;
  padding-bottom: 5px;
}

aside a{
  color: #333;
}


/*ESTILO DE BASE DO TEMA*/

.main-title,
.widget-title{
  font-size: 22px;
  color: #dd1f46;
  display: block;
  font-weight: bold;
  text-transform: capitalize;
}

.widget{
  margin-bottom: 30px;
}

.widget ul li a{
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.main-title:before{
  content: '\00bb';
  margin-right: 5px;
  font-size: 110%;
}

.slide img{
  max-height: 400px;
  width: 100%;
}

.slide{
  margin-bottom: 30px;
}

a:hover{
  text-decoration: none;
}



.carousel item{
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

/*MAINSLIDE*/
.mainslide{
  margin-bottom: 40px;
}

.bacon-logo img{
  max-width: 250px;
  height: auto;
  margin: 0;
  padding: 0;
}

/*NAV BAR & BANNER SECTION*/

.jumbotron{
  margin-bottom: 0;
  padding: 2.2rem;
  background-color: #212121!important;
}

.navbar-brand svg{
  width: 50px;
  height: auto;
}

.navbar-brand {
  padding-bottom: 0;
}

.navbar-brand svg path{
  fill: #fff;
}

.navbar-brand svg:hover path{
  fill: #212121;
  transition: all .2s ease-in;
}

.navbar{
  margin-bottom: 30px;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-transform: capitalize !important;
  font-weight: bold;
}



@media (min-width: 768px) {
  .navbar-search {
    margin: 20px 0 20px 30px;
  }
}

.navbar-light .navbar-nav
.active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #212121;
}
.dropdown-menu{
  background-color: #9e1c36;
}

.dropdown-menu a{
  color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #560d1b;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff!important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff!important;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff!important;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff!important;
}
.form-control {
    display: block;
    width: 100%;
    padding: 1px 5px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: transparent;
    border:none;
    outline: 0;
    box-shadow: none;
}

/*FIM NAVBAR */
.post-info li{
  list-style-type: none;
  display: inline-block;
  float: left;
  padding-right: 10px;
}

.post-body p{
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-pagination a{
  color: #fff;
  text-decoration: none;
  background-color: #d22246;
  padding: 3px 10px;
  margin-bottom: 20px;
  clear: both;
  display: table;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.card-group>.card:only-child {
    border-radius: 0 0 .25rem .25rem;
}

.post-entry{

}

.box-post{
  color: #fff;
}

.page-link{
  background-color: #d22246;
  border-color: #560d1b;
  color: #fff;
}

.page-item.active .page-link,
li.page-item.disabled{
  z-index: 1;
  color: #fff;
  background-color: #560d1b!important;
  border-color:#560d1b;
}

/*SINGLE*/

.autor-image img{
  border-radius: 100%;
}
.autor-info h5{
  font-size: 18px;
  text-transform: capitalize;
}
.thumbnail-post img{
  width: 100%;
  height: auto;
}

.thumbnail-post{
  max-height: 350px;
  overflow: hidden;
  margin-bottom: 20px;
}

.mainbody{
  margin-bottom: 30px;
  color: #fff;
  border-right: 1px solid #333;
}

.mainbody p{
  font-size: 18px;
}

h1.title-single{
  font-size: 32px;
}

.main-sidebar{
  color: #fff;
}

.carousel-caption {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
}


article{
    background-color: #E0E0E0;
    padding: 10px;
    margin-bottom: 20px;
}
.thumbnail img{
    width: 100%;
    height: 100%;
}
.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment{
    padding: 5px;
}

ul.wpp-list.wpp-list-with-thumbnails img:hover{
  opacity: .8;
}

/*FOOTER*/

.logo-mascote-footer img{
  max-width: 350px;
}
