/*SOMENTE ESTILOS PADRÕES DO WORDPRESS*/

.current{
  color: #fff;
}

/* ============== BLOCKQUOTE */
blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 100%;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #fff;
    background:#212121;
}
 
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -10px;
    top: -10px;
    color: #dd1f46;
}
 
blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
  
blockquote cite:before {
    content: "\2014 \2009";
}

/* ============== IMAGE CAPTION */

.wp-caption {
border: 1px solid #ddd;
background-color: #f3f3f3;
padding: 6px;
margin: 10px 0;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
max-width: 100%;

}
.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
width: 100%;
height: auto;
}
.wp-caption p.wp-caption-text {
font-size: 11px;
line-height: 17px;
padding: 0 4px 5px;
margin: 0;
}

img{max-width: 100%;}
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}